# Docker database data
.docker/

# Environment files
.env
laravel/.env
nextjs/.env
nextjs/.env.local
nextjs/.env.development.local
nextjs/.env.test.local
nextjs/.env.production.local

# Dependency directories
node_modules/
vendor/
laravel/vendor/
nextjs/node_modules/

# OS metadata
.DS_Store
Thumbs.db

# Laravel specific
laravel/bootstrap/cache/
laravel/storage/
laravel/database/*.sqlite

# Next.js specific
nextjs/.next/
nextjs/out/

# Reference Projects
nextjs-spring-consumer/

# Financial statements
*.ofx

