# Docker database data
.docker/

# Environment files
.env
backend/.env
frontend/.env.local
frontend-nuxt/.env


# Dependency directories
node_modules/
vendor/

# OS metadata
.DS_Store
Thumbs.db

# Laravel specific
backend/bootstrap/cache/
backend/storage/
backend/database/*.sqlite

# Next.js specific
frontend/.next/
frontend/out/

# Reference Projects
nextjs-spring-consumer/

# Nuxt specific
frontend-nuxt/.nuxt/
frontend-nuxt/.output/
frontend-nuxt/node_modules/
